<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="carousel carousel-slider center" data-indicators="true">
                <div class="carousel-fixed-item text">
                    <h2>Crypto Scraper</h2>
                    <img src="images/news-coffee.jpg" height="300" width="100%">
                </div>

                
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col s12">
            <input type="text" name="Search" id="search" placeholder="Search articles"> 
            <button id="scrape" class="btn">Scrape New Articles</button>
            <div class="card hoverable" id="loading" style="display:none">
                <div class="card-content">
                    <span class="card-title">
                        Loading...
                    </span>
                    {{!-- <button class="btn">Add note</button>
                    <textarea class="textarea" placeholder="Enter your note"></textarea> --}}
                </div>
            </div>
            <div class="articles">
            
            </div>
            <div id="modal1" class="modal">
                <div class="modal-content">
                <h4>Make a note</h4>
                <p>Write your thoughts and save them using the form below</p>
                <input type="text" name="title" id="titleInput" placeholder="Enter Title">
                <textarea type="text" id="bodyInput" class="materialize-textarea" placeholder="Your thoughts"></textarea>
                </div>
                <div class="modal-footer">
                <a href="#!" data-id="1234" id="savenote" class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>
                </div>
            </div>
            {{!-- {{#each article}}
            
            {{/each}} --}}
        </div>
    </div>
</div>
<script src="../../functions.js"></script>